


.template-grid-container {
  padding: 0 1rem;
}

.template-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.glass-card {
  padding: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
}